[2017-10-09 11:26] stefanneculai opened #1 "New Block Types"
A list of design blocks to be added shortly:

 - [ ] Blog Posts
 - [ ] Blog Feeds
 - [ ] Gallery
 - [ ] Portfolio
 - [ ] Sliders

[2017-10-11 09:31] stefanneculai opened #2 "React components"
Create React components to ease the integration with React based apps.

[2017-10-11 09:31] stefanneculai opened #3 "Angular components"
Create Angular components to ease the integration with React based apps.

[2017-10-11 09:32] stefanneculai opened #4 "Vue components"
Create Vue components to ease the integration with Vue based apps.

[2017-10-11 09:34] stefanneculai opened #5 "Add contribution guidelines"

[2017-10-11 09:34] stefanneculai opened #6 "Add versioning details"

[2017-10-11 09:34] stefanneculai opened #7 "Review Readme product description"

[2017-10-11 09:34] stefanneculai opened #8 "Submit to CDNJS"

[2017-10-11 09:35] stefanneculai opened #9 "Update index.html"

[2017-10-11 09:35] stefanneculai opened #10 "Make screenshots for all blocks"

[2017-10-11 09:38] stefanneculai opened #11 "Automate screenshot taking process"
Currently, there is a [script which can be used to take screenshots](https://github.com/froala-labs/design-blocks/blob/master/screenshots/run.html), however the process is quite painful because each file should be saved manually. We're using the `dom-to-image` library to take the screenshots, but Font Awesome and Google Maps do not render correctly.

Ideally, we'd have a script which used PhantomJ

[2017-10-11 11:14] #9 closed, assigned to nobody

[2017-10-11 12:31] stefanneculai commented on #8
https://github.com/cdnjs/cdnjs/pull/11977

[2017-10-11 12:55] dianaprajescu opened #12 "Some design blocks need review"
- [x] problem with icons on mobile in content with “works in every browser”
- [x] problem with client logos in CTA on mobile
- [x] content with col-fill-left has a problem on mobile
- [x] problem with footer 3 on xs
- [x] problem with some headers on small screens

[2017-10-11 14:21] #12 closed

[2017-10-11 15:18] stefanneculai opened #13 "Validate HTML"

[2017-10-11 16:42] #13 closed

[2017-10-11 17:10] #7 closed

[2017-10-11 17:11] #10 closed

[2017-10-12 07:18] M-ZubairAhmed commented on #2
Hi,
could you provide more information for me to work on this issue?

[2017-10-12 09:30] cborodescu opened #14 "Polymer components"

[2017-10-12 12:51] stefanneculai opened #15 "Changelog wanted"
Add Changelog.md

[2017-10-13 11:33] stefanneculai opened #16 "Add a detailed how to use"

[2017-10-13 11:35] peteringram0 opened #17 "[Suggestion] PUG"
You should move each component into a .pug file and import / compile everything into a single .html document. That way people can install from NPM and require in the .pug components they want. This would be cleaner and upgradable with versions as you move forward.

Also side note this would satisfy the Vue community who use vue-loader

[2017-10-13 11:43] peteringram0 opened #18 "Feature Request - Laptop template image"
There are really good phone and tablet template but nothing for a laptop

[2017-10-13 21:06] benhalverson commented on #11
@stefanneculai I've been using [siteshooter](https://github.com/devopsgroup-io/siteshooter) for work projects. It's worked well so far.

[2017-10-15 13:48] techashish12 opened #19 "How can i use it in commercial template ?"

[2017-10-16 11:04] dianaprajescu opened #21 "Create templates"
It would be very useful to have some templates built based on the design blocks. The templates would a very good starting point for those using the Froala Design Blocks.

[2017-10-16 12:03] stefanneculai commented on #19
We want to stimulate open web design, therefore derivative works, such as templates, are allowed to be created only under the same free license.

[2017-10-16 12:03] #19 closed

[2017-10-16 13:15] stefanneculai commented on #17
@peteringram0 very nice suggestion. We're going to create them shortly.

[2017-10-17 01:51] oceanpad opened #22 "/bin/sh: 1: scss: not found error"
When I run `gulp` after `npm install`.
It returns scss not found error.

[2017-10-17 01:53] #22 closed

[2017-10-17 01:53] oceanpad commented on #22
Need install ruby-sass before start server

[2017-10-17 05:22] sinAshish opened #23 "Template card not mobile responsive"
The font size in the template card is not mobile responsive.

[2017-10-17 05:23] sinAshish commented on #23
I would like to take a dig at this.

[2017-10-17 08:26] cfey commented on #2
More information needed

[2017-10-17 12:19] equinusocio opened #24 "[Suggestion] Web Components"
Hi, i suggest you to switch the entire library to web components... no dependencies, framework agnostic, maintainable, css encapsulation, native and `responsive design blocks ready to be used in your web or mobile apps` for real.

[2017-10-17 13:03] stefanneculai commented on #24
@equinusocio that's an interesting suggestion. Can you see any drawbacks of switching this to web components?

[2017-10-17 13:04] stefanneculai commented on #23
@sinAshish sure, if you have a suggestion about this we would be happy to hear your thoughts and a PR is always welcomed. Thanks!

[2017-10-17 13:05] stefanneculai commented on #14
@cborodescu I think #24 would be a big step in this direction.

[2017-10-17 14:04] joaquinrulin opened #25 "Separate css so each block can be independent and easily copy pasted!"
It will be ideal to have each block css encapsulated along with it so it became easier to copy & paste a block

[2017-10-17 14:16] stefanneculai commented on #25
@joaquinrulin, that for the suggestion. However, CSS rules are generic and we're using just very few specific CSS (about 10 lines) for testimonials. :)

[2017-10-17 14:16] #25 closed

[2017-10-17 16:21] equinusocio commented on #24
The only thing is the shadow dom compatibility.   There are polyfills called webcomponents.js that should be included by the end users.

Chrome (even mobile), safari (even mobile), every webkit browser and Edge 16 supports the shadow dom v1 spec. Firefox need the polyfill.

Oldest browser like IE 11 needs polyfills. There are some differents between shadow dom (native) and shady dom (polyfill).

T

[2017-10-17 17:12] Calinou opened #26 "License discussion"
Hello,

I've noticed that [this project uses a custom license](https://github.com/froala/design-blocks/blob/master/LICENSE).

Unfortunately, not only custom licenses can be a barrier to adoption in some places (such as corporate environments), but this particular license also doesn't follow the [Free Software Definition](https://www.gnu.org/philosophy/free-sw.en.html) and the [Open Source Definiti

[2017-10-17 21:00] Ilyes-Hammadi opened #27 "Froala CDN"
I have started using this project today and I absolutely love it. I would like to suggest to support for Froala on CDN, it will be nice if we can just add the CDN to a project and copy and paste the code and see everything working well.

[2017-10-17 21:12] stefanneculai commented on #27
Duplicate of #8. Will be added shortly.

[2017-10-17 21:16] Ilyes-Hammadi commented on #27
Thank you, can't wait for that

[2017-10-17 21:29] #27 closed

[2017-10-18 03:01] airycanon commented on #22
What is ruby-sass used for in a pure frontend project?

[2017-10-18 03:04] stefanneculai commented on #22
@airycanon it shouldn't be necessary to install `ruby-sass`. Are you seeing the same problem?

[2017-10-18 03:44] airycanon commented on #22
@stefanneculai yeah,I am seeing the same problem.

My node version is 8.7.0.

I am using yarn for dependencies:
[code]
Run gulp:
[code]

[2017-10-18 07:09] stefanneculai commented on #26
We've put the Froala Design Blocks product free in order to encourage the worldwide development of collaborative web design projects and to provide a free and open framework in which web design may be shared and improved in partnership with others. Indeed, we put there some limitations which we believe as being common sense:
 - do not use for website or app generators;
 - do not use to create temp

[2017-10-18 07:09] #26 closed

[2017-10-18 07:56] SUBHAROOP commented on #2
I want to work on this project more information needed

[2017-10-18 09:10] trickycdm opened #28 "Compiled CSS has SASS variables"
lines 93 & 95 in /dist/css/froala_block.css has the SASS variables $block-padding present. This creates invalid CSS.

[2017-10-18 10:42] equinusocio commented on #14
We can choose to build components on Polymer or build native wc components ([example](https://github.com/Granze/flip-clock-vanilla))

[2017-10-18 13:51] PabloC opened #29 "(Suggestion) Rails gem?"
It would be great if you could pack and mantain this on a rails gem, something aligned with https://github.com/twbs/bootstrap-rubygem

Thanks!

[2017-10-19 08:57] flexbox commented on #15
I think you can install `git-extras` to generate this type of file
https://github.com/tj/git-extras/blob/master/Commands.md#git-changelog

[2017-10-19 15:21] pascalandy opened #30 "Relative path issue on my Mac"
Hello folks,
I download the zip. From /dist I tried the HTML files. Everything was broken.

I went in the code and I saw:
`<link type="text/css" rel="stylesheet" href="../css/froala_blocks.css">`

I changed it to:
`<link type="text/css" rel="stylesheet" href="./css/froala_blocks.css">`

and it worked. I did the same thing for the img paths.

It's the first time I tried a bootstrap library that bra

[2017-10-19 15:24] pascalandy opened #31 "minify version"
Hi,
In the readme, we can see:

[code]

But in the zip file, I downloaded `froala_blocks.min.css` is not there. I don't mind creating the min.css myself but the readme is not representing the tree.

Cheers!

[2017-10-19 16:59] wilsonkasey commented on #16
I can do this!

[2017-10-19 17:09] stefanneculai commented on #16
@wilsonkasey please feel free to make a PR.

[2017-10-19 17:18] wilsonkasey commented on #16
Okay, can do.

[2017-10-19 17:39] alejandro01970 opened #33 "Install not working"
Hello all, I am new to Github and this is my first time installing a software using it. I followed ll the steps and I dont see to get it to install on my mac. I run the install on Terminal and I get this:

npm WARN enoent ENOENT: no such file or directory, open '/Users/PixarMediaMac/package.json'
npm WARN PixarMediaMac No description
npm WARN PixarMediaMac No repository field.
npm WARN PixarMediaM

[2017-10-19 17:41] stefanneculai commented on #33
Hi @alejandro01970! After cloning the repo, please make sure you move into that directory `cd design-blocks` and just after that do the npm stuff.

[2017-10-19 17:41] #33 closed

[2017-10-19 17:47] stefanneculai opened #34 "Create PSD files for each design block"

[2017-10-19 17:47] stefanneculai commented on #31
@pascalandy it's coming shortly. :)

[2017-10-19 17:56] alejandro01970 commented on #33
Thank you @stefanneculai I did that before and I just did it now and I still got the same error:

npm WARN enoent ENOENT: no such file or directory, open '/Users/PixarMediaMac/package.json'
npm WARN PixarMediaMac No description
npm WARN PixarMediaMac No repository field.
npm WARN PixarMediaMac No README data
npm WARN PixarMediaMac No license field.

thank you,

[2017-10-19 17:58] stefanneculai commented on #33
It looks like you are not in the correct folder. Please do the following in this order:

[code]

[2017-10-19 18:09] alejandro01970 commented on #33
Thank you stefanneculai, should I type that into Terminal?

[2017-10-19 18:09] stefanneculai commented on #33
yep.

[2017-10-19 18:11] wilsonkasey commented on #16
How do I create a pr for this?

[2017-10-19 18:12] stefanneculai commented on #16
Please find more about that here: https://help.github.com/articles/creating-a-pull-request/.

[2017-10-19 19:06] stefanneculai commented on #15
@flexbox interesting, we'll take a look over it.

[2017-10-19 22:26] lwoods opened #37 "Make Froala available to the "rest of the world""
I do development and use a public hosting company---as do the majority of developers.  I don't have---and don't know how to use "npm".  Would you consider making a simple zip of Froala that can be used by us "unwashed?"

Thanks for your consideration

[2017-10-20 08:30] dianaprajescu commented on #33
@alejandro01970 it seems that cloning the repo failed because GitHub couldn't authenticate you. Here's how you can fix this: https://stackoverflow.com/questions/12940626/github-error-message-permission-denied-publickey

[2017-10-20 13:06] Remo opened #38 "Integration with bootstrap by using their variables"
I've had a look at this project for a bit and it looks really great, but one thing I don't quite understand.

While everything is built on top of bootstrap, it doesn't look like it's integrated into bootstrap.

If I use a bootstrap plugin that uses default buttons like `btn-primary` and `btn-warning` I'll have a different style on those buttons. Why not import the bootstrap scss and use their vari

[2017-10-20 13:15] robinator8 commented on #37
If you look under quick start in the readme, there is a zip of the latest release that you can use. From the dist folder you can open those html files and take out any section for use in projects.

[2017-10-20 13:17] stefanneculai commented on #38
Good idea!

[2017-10-20 13:25] lwoods commented on #37
Thanks for the quick reply.  And apologies for not being "up" on the latest.  I will dig in.

[2017-10-20 13:25] #37 closed

[2017-10-21 07:36] bradbaris commented on #22
Replace `gulp-scss` with `gulp-sass`. `gulp-sass` has been the de facto sass standard for node for quite a while now.

[2017-10-21 23:38] flyg101 commented on #22
Same Issues here. Can I send a PR to change `gulp-scss` to `gulp-sass`.  This correctly fixes the problem

[2017-10-22 03:43] Gianlucca commented on #30
Am having the same issue on Windows.

[2017-10-22 04:03] Gianlucca commented on #30
#40

[2017-10-22 17:29] Azael05x commented on #11
https://umaar.com/dev-tips/151-screenshot-capture/
This works well for me.

[2017-10-23 07:38] alphadesigns opened #41 "Not displaying properly?"
So I downloaded the _latest_ release, and when I open any **.html** file from the **dist** folder it displays like this - is it normal? Seems like it isn't:

![screenshot_1](https://user-images.githubusercontent.com/26995439/31877195-4b1d241a-b821-11e7-93da-79014702e9f5.png)

![screenshot_2](https://user-images.githubusercontent.com/26995439/31877387-04df8f78-b822-11e7-8f0c-1109184c0069.png)

I us

[2017-10-23 08:11] stefanneculai commented on #22
@oceanpad it's fixed.

[2017-10-23 08:17] stefanneculai commented on #41
@alphadesigns it's fixed now.

[2017-10-23 08:17] #41 closed

[2017-10-23 08:19] stefanneculai commented on #34
@djstojadin that would be amazing. Looking forward to seeing them.

[2017-10-23 16:06] stefanneculai commented on #11
@Azael05x thanks for the suggestion. The thing is that we would like to automate all these and have the screenshots built automatically for each block.

[2017-10-23 16:10] stefanneculai commented on #14
@equinusocio I believe it would be better to go with the web components as you already suggested in the other issue. That would make everything framework agnostic and can be integrated quickly with other front-end frameworks.

[2017-10-23 16:14] equinusocio commented on #14
@stefanneculai the problems are the external dependencies. The shadow dom provide css encapsulation but it does not allow you to use global css, so everything must be inside the component itself.

[2017-10-23 19:07] zouxuoz commented on #11
@stefanneculai I think [gemini](gemini) should be good for that task, I can configure it and send PR.

[2017-10-24 03:25] stephaniepurvis commented on #34
I am interested in helping on this too. I was thinking about using the resource here to create artboards for each breakpoint: https://hackerthemes.com/bootstrap-4-grid-psd/

@djstojadin Let me know if you'd like me to help and what section you'd like me to start on.

[2017-10-24 06:46] djstojadin commented on #34
In general this is my idea and how it is looks like. Take a look and let me know what do you think.
[boilerplate.zip](https://github.com/froala/design-blocks/files/1409793/boilerplate.zip)

[2017-10-24 08:24] ummahusla commented on #2
Nearly 2 weeks and still no reply. What a time waste. This could be added as the part of the Hactoberfest and lot's of contributors could help out with issues like this.

[2017-10-24 11:10] stefanneculai commented on #34
@djstojadin it looks pretty good. @stephaniepurvis looking to hear your thoughts too.

[2017-10-24 11:30] stefanneculai commented on #14
I think there are 3 ways we could go:
1) Web components and import the global style (bootstrap + other styles for Design Blocks) using `@import "our_style.css"` inside each component. The problem with this is that it's not recommended to do it.
2) Create [custom elements](https://developers.google.com/web/fundamentals/web-components/customelements?hl=en) instead of web components. We wouldn't use

[2017-10-24 11:32] stefanneculai commented on #2
We are currently discussing about moving the design blocks from HTML to Web Components / Web Elements / Polymer before creating a bridge for front-end frameworks. If you have any thoughts about that, please join the discussion: https://github.com/froala/design-blocks/issues/24.

[2017-10-24 11:34] zouxuoz commented on #11
or we can use [puppeteer](https://github.com/GoogleChrome/puppeteer)

[2017-10-24 11:46] stefanneculai commented on #11
@zouxuoz both look like good solutions. Do you have any idea if they work with iframes as well? There are some iframes loaded for Google Maps on contact forms. Some help is for sure welcome.

[2017-10-24 11:50] zouxuoz commented on #11
@stefanneculai I think it is not problem for `puppeteer`, I can try do it and send PR on this week.

[2017-10-24 13:57] equinusocio commented on #14
@stefanneculai

1. Using CSS imports is a bad choice and it is anti-pattern.
**🚨 Very bad.** 😊

2. Shadow Dom will never support shared styles, is anti-pattern. It provide css encapsulation, kill global scope, theming, make self-contained and reusable components... **sacrificing global styles**. There is a proposal to implement [`::part` and `::theme`](https://tabatkins.github.io/specs/css-shadow-

[2017-10-24 14:09] stefanneculai commented on #14
@equinusocio at 2, I was saying about using Custom Elements without Shadow DOM. This way, we can have still one main global style, but keep code more modular. Of course, we would lose the isolation.

Which way would you go?

[2017-10-24 14:20] equinusocio commented on #14
Going for 2, the only gain are a shiny well-named custom elements and polyfills. But is the only way that can be framework-agnostic.

What about to build more version? Polymer 3, React and web components . Ssing the same CSS/HTML and rewriting the js? (just a thought)

PS: @stefanneculai Please move discussion to #24 :)

[2017-10-24 20:57] equinusocio commented on #24
I suggest to stick with polymer 3 instead of react. So you can provide just a js file for component.

[2017-10-24 21:30] stephaniepurvis commented on #34
@djstojadin and @stefanneculai I think the psd looks great!

[2017-10-25 11:05] djstojadin commented on #34
I started with call-to-action blocks. Files are named t1, t2, t3 etc... **t** is shorthand for **type** starting from top to bottom according to website.

Check examples for first 4 call to action design blocks.
[db-call-to-action-1-4.zip](https://github.com/froala/design-blocks/files/1414316/db-call-to-action-1-4.zip)

@stefanneculai  Let me know where do you want to store files while I am workin

[2017-10-25 11:05] hetmann commented on #2
@stefanneculai if you're interested, I can personally add a new branch to my open-source project @react-ui-kit to create ReactJS components/elements using @froala design-blocks styling.

[2017-10-25 11:07] stefanneculai commented on #24
@hetmann We want to move the design blocks from simple HTML to Web Components / Polyer because this way they can be easily used in front-end frameworks without having to reinvent the wheel again. We're still discussing about which would be the best approach and should have a decision in the following days.

[2017-10-25 11:44] equinusocio commented on #24
@Stefanneculai note that if we use polymer you will male polymer elements that works only with polymer. The only way to make them works with any frameworks is by using pure custom elements.

[2017-10-25 11:45] stefanneculai commented on #24
@equinusocio yes, I'm aware of that. Most likely we're going to use Custom Elements without using the Shadow DOM. We still have to make some checks and a POC before starting all the conversion. I'll post here more details shortly.

[2017-10-25 12:08] equinusocio commented on #24
@stefanneculai Will you consider also removing bootstrap?

[2017-10-25 12:09] stefanneculai commented on #24
Yep, we're taking into consideration to keep only a few things from Bootstrap, like grid and some helper classes.

[2017-10-25 12:11] equinusocio commented on #24
In my opinion, you don't need bootstrap at all. Consider each component as indipendent building-block, If you need to use a grid, you can use the CSS Grid Layout (widely supported) just inside the componente. Without have to make extra markup or extra CSS class...

[2017-10-25 17:35] wilsonkasey commented on #16
So I am able to create a pull request, after speaking with someone, under my own branch. Will do. However, I am having trouble running the app on playground.

[2017-10-27 20:49] stefanneculai commented on #34
@djstojadin they look good, but it appears there are no guides? @dianaprajescu do you have any input on this?

[2017-10-27 20:57] djstojadin commented on #34
@stefanneculai Guides are removed, but I can create them again that is not problem.

[2017-10-29 11:57] stefanneculai commented on #30
It's fixed now.

[2017-10-29 11:57] #30 closed

[2017-10-29 12:10] dianaprajescu commented on #34
Indeed, I think we should keep the grid in the PSD files. It will help if we need to make any changes later. Also, if we ever get to created PSD files in advance and then write the code for them, the guides will be helpful and we should have old and new PSD files built in the same manner for consistency.

@djstojadin the call to action PSD files look good. One note though: while the breakpoints in

[2017-10-29 12:16] #11 closed

[2017-10-29 18:55] foaadnami commented on #1
+ headers with drop down menu
+ FAQ's
+ Sidebar Menu (generally used in dashboards)

[2017-10-30 21:59] #28 closed

[2017-10-31 16:36] gutenpack opened #51 "License not compatible with GPL"
Reading through the license it does not seem to be compatible with the GPL license - is this intentional and a correct assumption?

Any reason why the work was not released under the terms of GPL or a compatible license like MIT?

[2017-11-01 15:09] stefanneculai commented on #51
See https://github.com/froala/design-blocks/issues/26#issuecomment-337480366.

[2017-11-01 15:09] #51 closed

[2017-11-02 10:17] tbsvttr opened #52 "Update to Bootstrap 4, Beta 2"
This is still on Bootstrap 4, Beta (1), but Beta 2 of Bootstrap 4 has already been released. Please update.

[2017-11-02 10:18] stefanneculai commented on #52
@tbsvttr thanks. Could you please make a PR? Thanks.

[2017-11-02 15:32] AutoSponge opened #53 "A11y Accessibility valid markup"
Not a single form field has a label. These designs are not usable and the patterns presented should be discouraged.

I suggest adding a validation check like Nu Validator, aXe, lighthouse, etc. to show all the places this markup is invalid.

[2017-11-02 15:41] dianaprajescu commented on #53
Thanks @AutoSponge for your suggestion. This is the first iteration of the Froala Design Blocks and we are continuously looking to improve it. Accessibility is indeed one of the most important aspects we should look into.

[2017-11-03 12:58] tristix commented on #31
Im not seeing the dist dir at all in the zip file atm

[2017-11-03 13:00] stefanneculai commented on #31
@tristix that's because you downloaded from the dev branch, not the master one: https://github.com/froala/design-blocks/tree/master.

[2017-11-03 23:32] alsoknownasdrew opened #54 "[Feature request] Timeline design blocks"
Hi! Have you considered to create some timeline blocks? If not I'd be glad to contribute.

[2017-11-04 19:05] rajeevdesai opened #55 "Document "Unexpected token" error caused in node versions < 7"
While running the code for the first time after clone and `npm install`, I got the following error
[code]
This was being caused as I have node 6.11.5, which does not support `async`.

I feel like this must be documented and alternatives such as transpiling the code using babel must be noted in the readme.

[2017-11-05 18:45] VictorHeringer commented on #24
Using [Stencil](https://stenciljs.com/) may be a better option than Polymer or React, it compiles to standards custom elements.

[2017-11-05 19:31] equinusocio commented on #24
@victorhwringer but you need stencil anyway

[2017-11-05 22:55] VictorHeringer commented on #24
@equinusocio Actually you don't. Stencil produces Vanilla JS, so you can distribute the components without any dependency. Yeah it adds one-way data binding, lazy-loading, etc but all goes together when you compile and there is no need to do such a thing as import Stencil as a dependency.

But anyway, is just an idea. Since it's new, things can change very quickly and may be more interesting use s

[2017-11-06 09:38] equinusocio commented on #24
@VictorHeringer It is not true, you can take a look at this [sample project] (https://github.com/coryrylan/stencil-demos). It build a bundle.js file that include some core files and it does not support Shadow DOM at this moment.

[2017-11-06 12:25] tristix commented on #31
Thanks @stefanneculai !

[2017-11-06 16:36] stefanneculai commented on #54
Please add your request on https://github.com/froala/design-blocks/issues/1. Thank you.

[2017-11-06 16:36] #54 closed

[2017-11-06 16:37] stefanneculai commented on #55
@zouxuoz do you have any suggestions for this?

[2017-11-06 16:43] stefanneculai commented on #24
@VictorHeringer thanks for the suggestion, however, we'd prefer to go with something more stable. We're going to post more details in the following days.

[2017-11-06 21:50] oxygensmith commented on #1
Headers:
- Stacked
- Offpage

Editorial layouts (combined blocks)

[2017-11-07 04:43] code-spring opened #57 "Beautiful design blocks may need WisdomTool RESTClient to enhance the API quality?"
[WisdomTool REST Client](https://github.com/wisdomtool/rest-client) supports automated testing RESTful API and automatically generating RESTful API documentation.
Maybe it's helpful to improve the API quality.

[2017-11-07 12:03] #8 closed

[2017-11-07 12:03] #52 closed

[2017-11-09 16:48] jajourda commented on #19
I took a look at [issue 26](https://github.com/froala/design-blocks/issues/26) already.

[2017-11-13 11:56] stefanneculai commented on #19
@jajourda yes, that is allowed. However, it is not allowed to create a template and sell that template.

[2017-11-22 19:06] Sanjo opened #58 "Large view of the design block screenshots on homepage"
In the playground section on the [Design Blocks homepage](https://www.froala.com/design-blocks) when you click on a design block screenshot, a larger version of the screenshot should be shown so I can see the design block more detailed. Right now the cursor changes to a pointer but when I click on a screenshot, nothing happens.

[2017-11-27 19:39] wilsonkasey commented on #5
You want a how to contribute here? I can take this on.

[2017-11-28 16:21] stefanneculai commented on #5
@wilsonkasey that is correct. Please make a PR.

[2017-12-07 13:46] Devhound opened #59 "None of the headers work"
None of the navbars toggle and show the menus. The icons do not show up on firefox either.

[2017-12-08 00:29] wilsonkasey commented on #59
Is that because someone didn't make public the icons?

[2017-12-09 03:40] manwithsteelnerves opened #60 "New Blocks Request & Possibility for creating own Blocks"
Blocks such as Tabs + Accordions are much helpful for creating documentation. Can we see it added anytime soon?

And also is it possible to create our own blocks? If so can you please point to documentation?

[2017-12-12 15:46] dianaprajescu commented on #60
We're going to add a guide for creating new design blocks soon. I'll keep you posted.

[2017-12-12 15:54] dianaprajescu opened #61 "Clipping masks doesn't work when exporting as SVG"
For example in this [PSD](https://github.com/froala/design-blocks/blob/dev/psds/wave4-box.psd) there is a clipping mask used for the dark frame. Although the PSD looks good in Photoshop, exporting it as SVG will simply ignore the clipping mask.

[2017-12-13 09:49] #59 closed

[2017-12-13 09:55] dianaprajescu commented on #59
Thanks guys for pointing this out.

[2017-12-13 15:39] dianaprajescu commented on #60
Here is the wiki page with guides for creating [new design blocks](https://github.com/froala/design-blocks/wiki/How-to-create-New-Design-Blocks). Let us know if you have any questions or suggestions regarding it.

We would be very thankful if you could share with us the design blocks created by you.

I'm going to close this issue in favor of #1

[2017-12-13 15:39] #60 closed

[2017-12-14 19:27] aaosuarez commented on #2
@stefanneculai Is there any update on this issue? Would love to contribute!

[2017-12-15 10:43] sajadghawami commented on #2
would love to contribute too! :)

[2017-12-15 10:50] sajadghawami opened #62 "[Suggestion] Demos on the site"
Hey there,

How come all the demos on the site are images and not the actual design-blocks?

[2017-12-15 11:11] dianaprajescu commented on #62
Hi @sajadghawami, our website was meant to be a sneak-peak of the design blocks where you can see as many blocks as possible to make an idea about the project. If you download the project, you'll be able to see the actual design blocks.

For the actual design blocks on our website, we would have needed to use the entire width for each block, instead of showing 3 on a row like we have now. We didn'

[2017-12-15 11:22] sajadghawami commented on #62
Sounds good! Thanks for the quick reply :)

[2017-12-15 11:22] #62 closed

[2017-12-15 12:22] anefzaoui opened #63 "RTL Support"
(Please excuse my poor English as I'm not a native speaker :) )

So I opened this issue to sort of explain what I'm working on in a Pull Request I'm going to push soon.

RTL support is already at a great level on the CSS level which is awesome! However the framework depends on Bootstrap which is famously known for ditching RTL support despite continuous efforts from the community to add it. So the

[2017-12-15 12:38] anefzaoui commented on #63
Although I'm seeing some snippets that are a bit confusing to me if someone could explain :)
<img width="488" alt="screen shot 2017-12-15 at 1 32 58 pm" src="https://user-images.githubusercontent.com/1832078/34042365-a2c3d804-e19c-11e7-8724-08c829c2951a.png">
In this example both left and right text aligns are called.

According to bootstrap

[code]

[code]
So in screens larger than 768 pixels wid

[2017-12-18 12:17] dianaprajescu commented on #63
Although using `start` and `end` for the `text-align` CSS property seems like a good idea for RTL, the browser support for these keyword values is not so good. We believe it is more important to have a product that works the same cross-browser than to have a product that works only in some browsers.

Bootstrap classes used for alignment don't have multiple names for the same purpose. They do indee

[2017-12-19 10:53] manwithsteelnerves commented on #60
Sure! Thanks for sharing!

[2017-12-24 19:28] aakyel opened #65 "npm run gulp not working"
npm ERR! Windows_NT 10.0.17025
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "gulp"
npm ERR! node v6.11.0
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! froala-design-blocks@1.0.2 gulp: `gulp`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the froala-design-blocks@1.0.2 gulp script 'gulp'.
npm ERR! Make sure

[2017-12-30 12:15] CallumHemsley commented on #65
Am also getting this. Curious as to why no reply in a couple of days?

[2017-12-31 02:30] alexanderldavis commented on #65
It seems you might need to upgrade your node.js and npm versions. In the error it suggests you `Make sure you have the latest version of node.js and npm installed`, and it seems to be saying you are currently using v6.11.0 of node and v3.10.10 of npm. I think the newest version of node is 8.x or 9.x, right? I don't know if that's what's wrong but that might be the issue.

[2018-01-02 22:35] Korver2017 commented on #65
I got the same info, and my node.js is v6.11.0, too. I fixed the problem after I installed the latest recommended version, v8.9.3.

[2018-01-03 13:31] MaxShalom commented on #65
Gulp linked to this article in the command line, maybe it will help:
[Medium: The Problem with gulp-util](https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5)

[2018-01-08 05:36] Soo-Q6 commented on #65
@Korver2017  i got that error, too. And i update my node.js from v6.11.0 to v8.9.4. But there are still an error, it says "Error: cannot find module 'gulp-watch'. And it occur in 'module.js:540'.

[2018-01-08 11:58] MaxShalom commented on #65
That's what I am still getting. Still haven't found a fix.

[2018-01-08 17:43] stefanneculai commented on #65
@Soo-Q6 @MaxShalom could you please run `npm install` once again?

[2018-01-09 02:46] MaxShalom commented on #65
I updated everything. Node.js is now on `8.9.0` and npm is on `5.6.0`. I still get the below errors when trying to run `npm run gulp` in the project directory.

[code]

However, there is a `gulpfile.js` in the directory. What could be wrong?

[2018-01-09 08:14] stefanneculai commented on #65
@MaxShalom does it work if you run the following:

[code]

[2018-01-10 02:54] Soo-Q6 commented on #65
i reinstall my node and run `npm run gulp`, and this time it says that "Error: cannot find module 'puppeteer' " Then i try to `npm install puppeteer  --save-dev`. Stiill, it failed. how can i fix it? @stefanneculai

[2018-01-12 13:48] Soo-Q6 commented on #65
i found that i cannot access the source code of module **node-sass**(some problems of Chinese network environment), so i modify the file **.npmrc**, adding such configuration: `sass_binary_site=https://npm.taobao.org/mirrors/node-sass/` and it finally worked.

[2018-01-15 19:14] #63 closed

[2018-01-15 19:15] #65 closed

[2018-01-28 23:39] isvictorious opened #68 "Gulp Error"
Got this error after following instructions:

design-blocks/utils/index.js:23
async function makeScreenshotsByName(name, selector) {
      ^^^^^^^^

SyntaxError: Unexpected token function
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:3

[2018-01-29 14:36] dianaprajescu commented on #68
@isvictorious try upgrading your Node version. Async functions are not supported by Node versions older than 7.6. `node -v` should show your current version.

Please let us know if this fixes your issue.

[2018-01-29 14:46] isvictorious commented on #68
Wow. I'm an idiot. Got it running. Still get an error doing 'npm run gulp' but all good if I just 'gulp'

Can't wait to contribute. Thanks

[2018-01-29 14:46] #68 closed

[2018-03-03 19:24] schwiet opened #69 "Build when installed with npm"
In the quickstart, it says one of the options is to:

But it is not obvious how to then use it to build your project.

Overall, the documentation seems lacking; when trying it out with a fresh clone, the best I could figure to do was copy-paste from the various block files into the index.html file. Is that the intended use?

[2018-03-13 22:34] dianaprajescu commented on #69
The project contains HTML and CSS design blocks. A fresh clone of the repo will allow you to browse the existing blocks and spot the ones you like and want to use. Then what you have to do is indeed copy-paste the code for them in your own application.

We're planning to create an easier way to browse, combine the blocks in a simple interface, and then just download the source code directly. All o

[2018-03-13 22:34] #69 closed

[2018-03-19 14:45] stefanneculai commented on #58
In the meanwhile, we have a Builder for it: https://www.froala.com/design-blocks/webpage-builder.

[2018-04-05 07:55] m5o opened #71 "update to bootstrap v4.1"
Hey @stefanneculai 👋

[Bootstrap](http://getbootstrap.com/) released their final `v4.0.0` back in January. 💜
Would like to contribute some work I've [started](https://github.com/m5o/design-blocks/tree/bootstrap-v4.1) with `4.0` and now `4.1`.
Hope you're interested in this update and some more cleanup around that.

📝 https://blog.getbootstrap.com/2017/12/28/bootstrap-4-beta-3/
📝 https://blog.getbo

[2018-04-09 12:02] stefanneculai commented on #71
@m5o do you think you could make a PR?

[2018-05-01 22:41] alexandre-pereira opened #73 "Button type="submit""
Hello,

Tested on Chrome, on the button elements with type="submit" and not type="button", it's missing:

cursor:pointer

Cheers

[2018-05-18 06:49] karanrajpal14 commented on #2
@stefanneculai any update on this? Would love to see this happen and possibly contribute as well.

[2018-05-18 13:29] pblanton commented on #2
+1 for someone who would like to pitch in and help with this.

[2018-05-22 04:41] karanrajpal14 opened #74 "Unable to import module in scss file"
Hello,

I just installed the package and I'm trying to import the scss file in my own scss file. Unfortunately, I can't seem to get that to work.

Here's what my directory structure looks like:
[code]

I attempt to import the `froala-blocks.scss` file into my `main.scss` file by using the import directive like so:

`@import '~froala-design-blocks/src/scss/froala_blocks.scss';`

If my memory serves

[2018-06-14 12:04] m5o commented on #73
hey @alexandre-pereira

It's because design-blocks are currently based on bootstrap alpha
https://v4-alpha.getbootstrap.com/components/buttons/#examples

It will be fixed with bootstrap final v4, see: https://getbootstrap.com/docs/4.1/components/buttons/#examples

🔗 #72

[2018-07-28 00:13] Sogl commented on #1
Timelines (vertical and horizontal) with steps (1,2,3 etc), icons, images

For example:
![image](https://user-images.githubusercontent.com/7556290/43350805-4358ceba-9213-11e8-91dd-a34c99dedb01.png)

[2018-07-28 01:06] Sogl opened #77 "Can't download from website-builder"
Hello!

Just tried to download my blocks from here: https://www.froala.com/design-blocks/webpage-builder

1st time it works, but next I can't download. No errors in Console or Network tab in Chrome.
Tested in latest Chrome and Firefox.

[2018-07-28 01:19] Sogl opened #78 "Call to action block uses much vertical scroll in website builder preview"
Hello!

See in action.

In Chrome:
![4](https://user-images.githubusercontent.com/7556290/43351553-8ca30b18-921c-11e8-8247-312aa1ff80bb.gif)

In Firefox:
![5](https://user-images.githubusercontent.com/7556290/43351597-fa4a05fe-921c-11e8-98f6-3bcd1b76156c.gif)

Also you can see that I can't use blocks drag-n-drop in Firefox because it shows me image.

[2018-08-02 16:59] angusgrant opened #79 "Understanding Froala design blocks"
Hi I guess I might be the only person in the world who is slightly confused by froala design-blocks are they designed specifically to be used with the Froala WYSIWYG editor or not??

I am working on a CMS product. Which already provides the function to create new (blank) pages to an existing site.  Each new page is currently editable through a single Froala WYSIWYG interface. However I have a requ

[2018-08-02 18:26] stefanneculai commented on #79
The Froala Design blocks were created with the main scope of helping devs to easily put together a design for the apps they built. They were not designed to be integrated with the Froala Editor in any way out-of-the-box. Indeed, there were few requests for such an integration and that is the main reason why we're putting together the Froala Pages (https://www.froala.com/pages) which would be avail

[2018-08-02 18:26] #79 closed

[2018-08-08 07:33] AdelineDs commented on #77
I have the same problem ...
Nobody have solution ?

[2018-09-16 17:21] lepinekong opened #80 "after downloading the composed page image broken locally"
cannot view image locally 403 error.

[2018-10-17 15:12] #71 closed

[2018-10-17 15:12] stefanneculai commented on #71
Closing this as we updated Bootstrap to V4.

[2018-10-17 15:22] stefanneculai opened #81 "Design Blocks 2.0 🤩"
A new version for Design Blocks is coming shortly. Putting together the list of changes that we're working on and we'll update them as the code starts to come in.

- [x] Add secondary color for buttons.
- [x] Use Bootstrap 4 classes
- [x] Update backgrounds.
- [x] Update typography.
- [x] Update icons & photos.
- [ ] Demo templates. Eg.: landing page, pricing page, contact page. #21
- [x] Angular

[2018-10-24 12:57] #16 closed

[2018-10-24 13:16] stefanneculai commented on #6
https://github.com/froala/design-blocks#versioning

[2018-10-24 13:16] #6 closed

[2018-10-24 13:17] stefanneculai commented on #5
https://github.com/froala/design-blocks#contributing-guidelines

[2018-10-24 13:17] #5 closed

[2018-10-24 13:21] stefanneculai commented on #74
@karanrajpal14 I think you should do `'/node_modules/froala-design-blocks/src/scss/froala_blocks.scss';`.

[2018-10-24 13:21] #74 closed

[2018-10-24 13:33] #80 closed

[2018-10-24 14:01] stefanneculai commented on #73
It's fixed now.

[2018-10-24 14:01] #73 closed

[2018-10-24 14:02] stefanneculai commented on #55
I am going to close this for now as Node 6 is quite old now.

[2018-10-24 14:02] #55 closed

[2018-10-24 14:29] #31 closed

[2018-10-24 14:31] stefanneculai commented on #34
Thanks to @creativetimofficial we have them now: https://github.com/froala/design-blocks/blob/dev/assets/psds/psd-pages.zip

[2018-10-24 14:31] #34 closed

[2018-11-06 17:02] stefanneculai commented on #3
And here it comes: https://github.com/froala/angular-froala-design-blocks.

[2018-11-07 17:40] stefanneculai commented on #2
Here it comes: https://github.com/froala/react-froala-design-blocks. ✨✨✨

[2018-11-13 15:12] stefanneculai commented on #4
https://github.com/froala/vue-froala-design-blocks 🎉

[2018-11-13 15:12] #4 closed

[2018-11-13 15:13] #3 closed

[2018-11-13 15:13] #2 closed

[2018-11-13 21:41] estevanmaito commented on #53
I would like to solve this, as it seems that no one is actively working on it.

[2018-11-14 10:16] karanrajpal14 commented on #2
Thank you @stefanneculai

[2018-11-23 18:53] m5o commented on #81
Just some more ideas:

* use font-awesome brands for company examples 🍒 https://github.com/froala/design-blocks/pull/72/commits/a08c19acb600f1fdd8b3b919984cbd1449e1fa19
* use bootstrap form markup 🍒https://github.com/froala/design-blocks/pull/72/commits/ef5e94e7d695b418f2566c3ead97c38ab2ce6609
* validate html pages 🍒https://github.com/froala/design-blocks/pull/72/commits/c4456f968fa6bdd20e47e273cf

[2018-12-05 13:08] stefanneculai commented on #81
We're almost ready for the release. Updates coming tomorrow on the website.

[2018-12-05 13:08] #81 closed

[2018-12-05 13:08] #15 closed

[2018-12-06 08:14] stefanneculai opened #96 "We've launched Froala Design Blocks 2! 🔥"
In the last few months, we've worked hard to put together the new version 2. Now we're ready and today you can leave your feedback on ProductHunt!  😍😍😍

https://www.producthunt.com/posts/froala-design-blocks-2-2

Excited to hear from you!  Thanks everyone who supported us in getting here! @m5o @alexandru-paduraru @reckseidlerdesign

[2018-12-07 12:42] #96 closed

[2018-12-07 12:47] stefanneculai commented on #38
Done.

[2018-12-07 12:47] #38 closed

[2018-12-07 12:47] stefanneculai commented on #58
Done.

[2018-12-07 12:47] #58 closed

[2018-12-07 12:47] stefanneculai commented on #61
We're no longer having this problem in V2.

[2018-12-07 12:47] #61 closed

[2018-12-07 12:48] stefanneculai commented on #17
Done, we're using pug now.

[2018-12-07 12:48] #17 closed

[2018-12-07 12:49] stefanneculai commented on #18
We released V2 now and the designs from V2 are a bit different. If you need a laptop, I would suggest to use a SVG from as they have some amazing illustrations: https://undraw.co/search.

[2018-12-07 12:49] #18 closed

[2018-12-07 16:16] pascalandy opened #104 "Mobile, menu is not loading"
I click and nothing is happening

![screen shot 2018-12-07 at 11 15 03 am](https://user-images.githubusercontent.com/6694151/49659126-822a5300-fa11-11e8-9790-17d57a4be5e8.jpg)

[2018-12-07 16:17] pascalandy opened #105 "responsive: overlapping content"
mobile view

![screen shot 2018-12-07 at 11 15 37 am](https://user-images.githubusercontent.com/6694151/49659169-9a9a6d80-fa11-11e8-8631-0c446cd2007a.jpg)

[2018-12-14 10:42] lynndesouza opened #106 "Navbar position sticky or fixed top not working with design blocks"
Hello,

I'm trying to have a navbar that sticks to the top of my page, but I notice whenever I use any of the design blocks it works until it hits one of the design block elements and then they seem to stop it from sticking. I noticed that if I remove the "fdb-block" class all together then it lets the navbar keep sticking, but of course that messes up the nice structure of the blocks. Please help

[2018-12-14 12:15] aydemiromer commented on #106
Hello
I don't know this topic yet, so sorry.
So I dont help you.

14 Ara 2018 Cum 13:42 tarihinde Lynn de Souza <notifications@github.com>
şunu yazdı:

[2018-12-15 13:39] #106 closed

[2018-12-31 07:55] abhijithvijayan opened #108 "deprecated modules"
Replacing deprecated modules and upgrading gulp to v4.0.0.

[2019-02-13 19:47] randy-johnson opened #109 "Build error"
I get the following error when I run npm run start

Any idea what the issue is?

[code]

[2019-02-14 01:48] randy-johnson commented on #109
fwiw I get this when trying to build on my mac as well.

[2019-02-18 10:31] stefanneculai commented on #109
@randy-johnson could you try doing `npm install` first?

[2019-02-22 18:45] ivuorinen commented on #109
I bumped in to the same error.

Looks like `$input-height-inner-sm` and `$input-height-inner-lg` (maybe similar others) have been removed from Bootstrap [`_variables.scss`](https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss#L491) file.

This quick "fix" worked for me, but haven't really dived into the style changes:
[code]

[2019-02-22 18:52] randy-johnson commented on #109
@stefanneculai, I did this before, but I tried again and received the same error.  @ivuorinen thanks I will try that and see how it goes.  Thank You.

[2019-03-17 15:16] bdavidxyz commented on #109
Just comment the lines with $input-height-sm and $input-height-lg, they are not used anyway.

[2019-03-19 13:40] xclud opened #110 "Source code of Design-Blocks builder"
Hi,
I am looking for the source code of [builder](https://www.froala.com/design-blocks/webpage-builder). But it seems i cannot find it.

I am looking to integrate the awesome builder into Microsoft's [Blazor](https://blazor.net/) and would be happy to share the code then.

[2019-03-21 14:08] stefanneculai commented on #110
It will come as a separate product called Pages: https://www.froala.com/pages.

[2019-03-21 14:08] #110 closed

[2019-06-17 02:28] guiassemany commented on #110
Hello @stefanneculai, can you tell if the builder has a release date? (Or estimated)
Thank you.

[2019-06-25 23:12] guiassemany opened #114 "Pages Product"
Is there a release date for the source code of the builder?
https://www.froala.com/pages

[2019-07-25 14:26] shaneparsons opened #115 "Feature Request: Affinity Designer / Illustrator assets"
Vector versions (i.e. Illustrator / Affinity Designer) of your PSD / Sketch assets would be a lovely addition to Design Blocks!

[2019-07-25 14:32] shaneparsons commented on #115
I just realized that Sketch is a vector program... If somebody can export PDF assets from Sketch, it should theoretically be openable in any of the other vector programs.

[2019-07-25 14:54] shaneparsons commented on #115
Okay, so I was easily able to export it as a pdf from a trial of Sketch and import it as expected. Things like symbols will have to be re-created / re-linked again to reduce the massive file size, and the artboards will need to be organized nicely, but it's very do-able.

If I ever get around to creating an optimized designer file I'll share it here... In the meantime I'm going to close this issue

[2019-07-25 14:54] #115 closed

[2019-07-26 11:58] #108 closed

[2019-10-02 20:40] GULED251 opened #117 "Welcome"
[(adsbygoogle = window.adsbygoogle || []).push({     google_ad_client: "ca-pub-9632547979256659",     enable_page_level_ads: true   })](https://ethio-ads.com)

[2019-10-02 20:41] GULED251 commented on #117
`<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9632547979256659",
    enable_page_level_ads: true
  });
[</script>`](https://ethio-ads.com)

[2019-10-02 20:42] GULED251 commented on #117
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9632547979256659",
    enable_page_level_ads: true
  });
</script>

[2019-10-16 20:14] willflourance opened #121 "Local Host 8001 Won't Update"
I'm a bit of a newbie to this but I am trying to edit files in the src folder and they are not reflecting on the browser. I tried editing the text on Index.html and nothing is appearing. Please advise!

[2019-11-03 05:23] somecallmewoo commented on #53
@dianaprajescu Hey, I noticed @blueocto has a pull request for this issue. I'm interested in this update as well, would you mind taking a look?

[2020-01-12 15:54] Fowindev opened #122 "Navigation bar with .bg-dark, Navbar-toggler-icon goes invisible"

[2020-02-03 21:21] DaWe35 commented on #109
Same here, from windows 10

[2020-02-11 09:46] steveharman opened #123 "Unable to close window / exit when previewing blocks"
Hi,

This is more of an issue with Blocks on the Froola website.

**ISSUE:**
From the list of blocks at https://www.froala.com/design-blocks - when I click on one to enlarge it, there doesn't seem to be a way of closing the enlarged window and returning to the list.   Pressing Escape does nothing, clicking on the opaque background doesn't close the window, using back-arrow exits the Froala site an

[2020-02-27 19:57] gromovadarya90 opened #124 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-05-09 03:38] nkimadusanka commented on #123
![image](https://user-images.githubusercontent.com/5391977/81463113-9ceb9300-91d4-11ea-8bf7-fe26da66bbf7.png)

They already have x button.

[2020-05-17 06:30] electroheadfx opened #128 "Failed at the froala-design-blocks@2.0.1 start script"
Hello, I put here the log, I use v12.16.3 on MacOs HighSierra 10.13.6

[2020-05-17T06_26_53_167Z-debug.log](https://github.com/froala/design-blocks/files/4639758/2020-05-17T06_26_53_167Z-debug.log)

[2020-06-03 09:08] gitlerat opened #129 "Licence question"
Hi, am i allowed to produce a Website with froala and sell this Website to a costumer? So no template, i mean a finished Website?

I've read https://github.com/froala/design-blocks/issues/26 but to me it is still unclear, mainly because english is not my main language :)

Kind regards and thanks in Advance!

[2020-06-30 09:52] unrevised6419 commented on #109
https://github.com/twbs/bootstrap/pull/23816/files#diff-d8ee409a461718bfb6240710c8c73382L493-L497

[2020-07-28 11:59] zhcet19 opened #130 "Updating the Readme file so that on clicking each items of table of content directs us to that particular section"

[2020-07-28 12:00] #130 closed, assigned to nobody

[2020-07-29 20:23] shinshil582 commented on #104
This is pretty late but for future users coming here, jquery and bootstrap.js need to be added and loaded in this exact order to enable the menu toggle and make it expand up and down on the click

[2021-02-24 10:42] schpengle opened #135 "Incorrect Font Dependancy quoted on the Web Page."
Hello, My first Github interaction, so bare with me.

on the website
https://froala.com/design-blocks/docs/frameworks/html5#contributing-guidelines

under the
 -Dependancies
section, it quotes Google fonts and the Roboto font in particular as a dependancy.

However, i can find no reference to that in the product, only to the Google, Lato font.

So does this need correcting or have I mixed up the D

[2021-02-24 11:25] buncis commented on #128
I think this pr fix this https://github.com/froala/design-blocks/pull/118/files

[2021-03-01 11:41] firstfocus opened #137 "Events"
Hi, this seems to be missing an event interface. Am I overlooking something or are there any event handlers we can use, for example init and change?

[2021-03-01 12:33] #137 closed, assigned to nobody

[2021-03-01 12:34] firstfocus commented on #137
Sorry wrong repo

[2021-03-18 16:22] morozover opened #138 "npm package too big for jsDelivr"
I'm trying to load this package from [jsDelivr CDN](https://www.jsdelivr.com/package/npm/froala-design-blocks) but it fails because the package is over 50 MB. Are there any files that could be removed to reduce the package size?

[2021-03-18 18:08] kavyuwu commented on #138
We are having the same issue. There is an issue retrieving this css file:
https://cdn.jsdelivr.net/gh/froala/design-blocks@master/dist/css/froala_blocks.min.css

Please let us know if there is a fix.

[2021-09-27 02:46] vantrungduy opened #139 "Can able to start a custom numbered list?"
Hi all,
Currently, the numbered list just can be started from one only. Can able to start a custom numbered list? Like 2. or 3. ...

Here is example:
![image](https://user-images.githubusercontent.com/6949878/134838125-83f2268c-1a05-4bb1-bf7d-873c66cc6b02.png)

Thanks,
Duy

[2021-09-29 12:37] Mostafa-Yusuf commented on #139
Hi, Duy -
Which template you are using?

[2021-10-05 01:53] vantrungduy commented on #139
Hi Mostafa,
I'm trying to find the way in the Froala editor. And also do copy and paste from MS-Word.

![image](https://user-images.githubusercontent.com/6949878/135947652-1aed5f1f-d08e-42ee-b026-caa3507cdf4c.png)

[2021-11-24 20:51] klodoma opened #140 "Is this project still alive?"
Asking this not to waste the time of trying out a dead horse.

Last release was in 2018.

[2022-04-07 17:37] nice2meu commented on #53
邮件已收到 我会尽快给您回复 thks

[2022-04-08 04:36] paul1974nsac commented on #53
Good enough

[2022-04-13 07:38] davidjeba opened #141 "Froala 2023"
Froala is a very ambitious project with lots of usability enhancements
but it has become way too unique not fitting to any CMS

Wordpress has Gutener
Still Elementor, Wpbakery, Divi, Visual Composer lots of projects has become successful

Froala being a neutral platform if it can revive itself to work like [keppler.app](https://kepler.app/)
which natively works for Django, Wagtail [python based cm

[2022-04-20 15:37] enterlight opened #142 "Cannot build"
npm run start returns the following:
[code]

[2022-06-06 06:57] davidjeba opened #144 "How to improve django frontend editing?"
from this
https://www.django-cms.org/en/frontend-editing/

to this
https://kepler.app/